.cart {
  margin: 20px 0;
  padding: 5px;
  border-radius: 5px;
  background: #1C6EA4;
  -webkit-box-shadow: 2px 4px 18px 5px rgba(0,0,0,0.74);
  box-shadow: 2px 4px 18px 5px rgba(0,0,0,0.74);

  .text {
    font-size: 16px;
    color: #c2c2c2;
    text-align: center;
  }
}
